<div class="row" style="margin-top:100px;">
<h1>Jobs</h1>
<% @jobs.each_with_index do |job, index| %>
  <div style ="border:1px solid blue; text-align:center;">
    <h3><%= index %> <%= link_to job.title, job.url %> (<%= job.company.name%>)</h3>
    <h5>Job Type: <%= job.company.company_type %></h5>
  </div>
<% end %>
<p><%= paginate @jobs %></p>
</div>
