<div class="row" style="margin-top:100px;">
<%= simple_form_for @job do |form| %>
  <%= form.input :title, label: "Job title" %>
  <%= form.association :company, label: "Your company" %>
  <%= form.input :job_type, label: "Job Type" %>
  <%= form.input :location, label: "Location" %>
  <%= form.input :url, label: "Link to job" %>
  <%= form.button :submit %>
<% end %>
</div>
