<div class="row" style="margin-top:100px;">
  <div class = "col-md-2">
    <button type="button" class="btn"><%= link_to "Add a company", new_company_path %></button>
  </div>
  <div class = "col-md-2 col-md-offset-3">
    <h1>Companies</h1>
    <% @companies.each_with_index do |company, index| %>
      <div class="job">
        <h2><%= index+1 %> <%= "#{company.name} (#{company.company_type})" %></h2>
      </div>
    <% end %>
    <p><%= paginate @companies %></p>
  </div>
  <div class = "col-md-2 pull-right">
    <button type="button" class="btn"><%= link_to "Add a job", new_job_path %></button>
  </div>
</div>
